Datasets/
__pycache__/
log/
log_GAN_ep2.txt
fix.ipynb
results/
duke_poses.zip
market_poses.zip
*/__pycache__/
ft_ResNet50/model/
ft_ResNet50/model_market/
*/*/__pycache__/
model/
ft_ResNet50/model_duke/